{
  "presets": [
    ["target", {
      "presets": [
        ["es2015", { "modules": false }],
        "stage-0",
      ],
      "targets": [
        {"name": "chrome", "version": 56}
      ]
    }],
    "react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "transform-decorators-legacy"
  ]
}
