.AudioSelector
  overflow: hidden
  &__row
    display: flex
    align-items: center
    overflow: hidden
  .AudioSelector__control
    flex: 1
    width: 100%
  .AudioSelector__preview
    flex-shrink: 0
    width: 25px
    height: 25px
    border: 0
    background: $fg
    transition: border-color
    overflow: hidden
    text-indent: -9999px
    margin-left: 5px
    -webkit-mask: url("../../icons/chevron-right-circle.svg") no-repeat center / 20px 20px
    cursor: pointer
    &:hover
      background: $fg-active
