.ConfigApp
  height: 100vh
  overflow-y: scroll

  &__field
    padding: 10px
    display: block
    border-bottom: 1px solid $border

    &__label
      display: block
      font-weight: 600
      font-size: 12px
      margin-bottom: 5px

    &__control
      display: block
      width: 100%
