.ConfigApp
  height: 100vh
  overflow-y: scroll
  overflow-x: hidden
  padding-top: 26px
  padding-right: 30px

  &__field
    padding: 10px
    display: block
    border-bottom: 1px solid $border

    &__label, &__value
      display: block
      font-weight: 600
      font-size: 12px
      margin-bottom: 5px

    &__control
      display: block
      width: 100%

    &__value
      padding: 0 10px

    &__row
      display: flex
      align-items: center
      .ConfigApp__field__control
        width: auto
        flex: 1
        &--checkbox
          width: 25px
          flex: none
      .ConfigApp__field__value
        width: 60px
        flex-shrink: 0
