.OculusLibrary
  position: fixed
  top: 26px
  left: 0
  right: 0
  bottom: 0
  background: #FFF
  z-index: 10
  overflow-y: scroll;
  width: 100%
  height: calc(100vh - 26px)

  &__app
    height: auto
    border-bottom: 1px solid $border
    padding: 10px
    cursor: pointer
    text-align: center
    font-weight: bold

    img
      display: block
      margin: 0 auto
      width: 180px
      height: 51px
