.Playlist
  height: calc(100vh - 106px)
  overflow-y: scroll
  &__item
    overflow: hidden
    line-height: 40px
    font-size: 16px
    padding: 0 100px 0 10px
    border-bottom: 1px solid $border
    transition: background-color 0.3s ease-in-out
    list-style: decimal-leading-zero inside
    position: relative
    white-space: nowrap
    text-overflow: ellipsis

    &.is-active
      background-color: $highlight
      &:hover
        .Playlist__item__restart
          opacity: 1
          pointer-events: auto

    &__duration
      position: absolute
      font-style: italic
      color: $secondary
      font-size: 12px
      top: 0
      right: 0
      bottom: 0
      width: 100px
      text-align: right
      padding-right: 10px


    &__restart
      position: absolute
      left: 50%
      top: 50%
      transform: translate(-50%, -50%)
      opacity: 0
      pointer-events: none
      height: 30px
      background: #222
      color: #FFF
      font-family: $font
      font-size: 14px
      border: 0
      width: 80%
      border-radius: 3px
      transition: opacity 0.3s ease
      will-change: transition
      cursor: pointer
